.footer-separator{
    background-color: black;
    height: 30px;
    width: 1px;
}
.footer-slogan{
    font-size: calc(0.7rem);
}
.footer-link:hover{
    color: black !important;
}

@media screen and (max-width: 575px) {
    .wrap-xs {
        flex-wrap: wrap;
    }
}