.logo{
  width: 60px;
  height: 60px;
}

html body #root .navbar .logo-text {
  font-family: 'Sulphur Point', sans-serif;
  margin-bottom: 5px;
}

.navbar__button--icon {
  width: 25px;
  height: 25px;
}
.navbar__button {
  height: 60px;
}

.navbar {
  height: 80px;
}

.link-green {
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 5px 40px;
  background-color: #63A583;
  border-radius: 25px;
  text-decoration: none;
}
.link-green:hover {
  background-color: #47765e;
  color: white;
}
.link-green:focus{
  outline: 0;
  box-shadow: 0 0 0 0.25rem #58a67e61;
}

.link {
  text-align: center;
  color: black;
  font-size: 20px;
  text-decoration: none;
  padding: 5px 40px;

}

@media (max-width: 991px) {
  .logo{
    max-width: 50px;
    max-height: 50px;
  }
  .navbar {
    height: 70px;
  }
  html body #root .navbar .logo-text {
    margin-bottom: 3px;
  }
}

@media (max-width: 767px) {
  .logo{
    max-width: 40px;
    max-height: 40px;
  }
  .navbar {
    height: 60px;
  }
  html body #root .navbar .logo-text {
    margin-bottom: 0;
  }
}