@import url("./styles/home.css"); /* estilos asociados al home general */
@import url("./styles/homeUser.css"); /* estilos asociados al homeUser */
@import url("./styles/profiles.css"); /* estilos asociados al perfil */
@import url("./styles/404.css");/* estilos asociados al 404 */
@import url("./styles/calendar.css");/* estilos asociados al calendario */
@import url("./styles/DoctorAttending.css");
@import url("./styles/Presentation.css");
@import url("./styles/login.css"); /* estilos asociados al login */
@import url("./styles/contact.css"); /* estilos asociados al contacto */
@import url("./styles/userPets.css"); /* estilos asociados a mascotas de usuario */
@import url("./styles/foundationPetsInAdoption.css"); /* estilos asociados a mascotas en adopción */
@import url("./styles/ClinicDoctor.css"); /* estilos asociados al clinic doctor */
@import url("./styles/PetsInAdoption.css"); /* estilos asociados a las mascotas en adopción */
@import url("./styles/AddPet.css"); /* estilos asociados a las mascotas en adopción */
@import url("./styles/DoctorRegister.css"); /* estilos asociados al doctor registrarse */

html body #root {
    font-family: 'Roboto', sans-serif !important;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
